version: '3'
services:
  tushare:
    image: python_tushare
    ports:
            - 8081:8081
    networks:
      - front-tier
      - back-tier
    container_name: tusharecontainer
    volumes: 
      - /home/cyy/tushare:/root/app/tushare
networks:
  front-tier:
    driver: bridge
  back-tier:
    driver: bridge
